.remplissage {
    margin-top : 10px;
    height : 200px;
    border-color : #e7e7e7;
    font-size : 14px;
    color : #515151;

}
#contenuFraisForfait, #contenuFraisHorsForfait {
    width : 49%;
    /**
    border : 1px;
    border-style: solid;
    border-color : black ;
    */

}

#contenuFraisHorsForfait {
    float : right ;
    height : 240px;

}
#contenuFraisForfait{
    float : left ;
    margin-top : 10px;

}

#listeFraisHorsForfait{
    float : left ;
    width : 100%;
    margin-top : 50px;
}

#gererFrais {
    /**
    border : 1px;
    border-style: solid;
    border-color : black ;
    */
    height : 500px ;

}

.barreTexte {
    float : right ;
}


#fraisForfait,#fraisHorsForfait {
    padding-left: 10%;
    padding-right: 10%;
}

#boutonsBas1 {
    margin-top : 15px;
}

#boutonsBas2 {
    margin-top : 45px;
}

#boutonAjout{
    float : right;
}

#boutonValid, #boutonAnnul {
    width : 130px;
    height : 30px;
}

#boutonValid {
    float : left;
}

#boutonAnnul{
    float : right;
}
