.remplissage {
    margin-top : 10px;
    height : 200px;
    border-color : #e7e7e7;
    font-size : 14px;
    color : #515151;
    font-weight : bold;
}
#contenuFraisForfait, #contenuFraisHorsForfait {
    width : 49%;
}

#remplissageDonnees {
    border : 1px;
    border-style: solid;
    border-color : black ;
}

#contenuFraisHorsForfait {
    float : right ;
    height : 240px;

}
#contenuFraisForfait{
    float : left ;
    margin-top : 10px;

}

#listeFraisHorsForfait{
    float : left ;
    width : 100%;
    margin-top : 20px;

}

#gererFrais {
    height : 500px ;
}

.barreTexte {
    float : right ;
}

#fraisForfait,#fraisHorsForfait {
    padding-left: 10%;
    padding-right: 10%;
}

#boutonsBas1 {
    margin-top : 15px;
}

#boutonsBas2 {
    margin-top : 45px;
}

#boutonValid, #boutonAnnul {
    width : 130px;
    height : 30px;
}

#boutonValid {
    float : left;
}

#boutonAnnul{
    float : right;
}

.ligneFraisHF {
    text-align:left ;
    list-style-type:none;
}

td.ligneFraisHF, td.ligneFraisHFPetit, td.ligneFraisHFSuppr {

    display:inline-block;
    display:block;
    float:left;       
    background-color:white;
    color:#515151;
    text-decoration:none;
    text-align:center;
    padding:5px;
    height :20px;
    border-color : #cbd0e3;
    border-style: solid; 
    border-width: 1px;
    padding-left : 10px ;
    padding-right: 10px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}
td.ligneFraisHFPetit, td.ligneFraisHFSuppr {    
    width:20%;   
}

td.ligneFraisHF {
    width:60%;
}

td.ligneFraisHFSuppr {
    background-color:#e7e7e7;
    
}

td.ligneFraisHFSuppr:hover {
    background-color:#515151;
    
}

td.ligneFraisHFSuppr a {        
    text-decoration : none;
    color : #515151;

}

td.ligneFraisHFSuppr a:hover {        
    text-decoration : none;
    color : #e7e7e7;
}

.titreColonne {
    background-color :#e7e7e7;
    color : #515151;
    height : 30px;
    border-color : #cbd0e3;
    border-style: solid; 
    border-width: 1px;
}