.remplissage {
    margin-top : 10px;
    height : 200px;
    border-color : #d7fcff;
    font-size : 14px;
    color : #515151;
}
#contenuFraisForfait, #contenuFraisHorsForfait {
    width : 49%;
}

#contenuFraisHorsForfait {
    float : right ;
    height : 240px;

}
#contenuFraisForfait{
    float : left ;
    margin-top : 10px;
}

.divPlein{
    float : left ;
    width : 100%;
    margin-top : 20px;
}

#gererFrais {
    height : 500px ;
}

.barreTexte {
    float : right ;
}

#fraisForfait,#fraisHorsForfait {
    padding-left: 10%;
    padding-right: 10%;
}

.boutonsBas1 {
    margin-top : 15px;
}

.boutonsBas2 {
    margin-top : 45px;
}


.ligneFraisHF {
    text-align:left ;
    list-style-type:none;
    position : relative ;
}

td.ligneFraisHF, td.ligneFraisHFPetit, td.ligneFraisHFSuppr {
    background-color :#ffffff;
    color : #515151;
    height : 30px;
    border-color : #d7fcff;
    border-style: solid; 
    border-width: 1px;
    text-align: center;
    font-size : 14px;
}
td.ligneFraisHFPetit { 
    width:15%;   
}

td.ligneFraisHFSuppr {
    width : 10%;
}
    

td.ligneFraisHF {
    width:50%;
}

td.ligneFraisHFSuppr {
    background-color:#d7fcff;
    
}

td.ligneFraisHFSuppr:hover {
    background-color:#515151;
    
}

td.ligneFraisHFSuppr a {        
    text-decoration : none;
    color : #515151;

}

td.ligneFraisHFSuppr a:hover {        
    text-decoration : none;
    color : #d7fcff;
}

.titreColonneMini,.titreColonnePetit,.titreColonneGrand {
    background-color :#d7fcff;
    color : #515151;
    height : 30px;
    border-color : #d7fcff;
    border-style: solid; 
    border-width: 1px;
}

.titreColonneVide {
    background-color :#ffffff;
    color : #ffffff;
    height : 30px;
    border-color : #ffffff;
    border-style: solid; 
    border-width: 1px;
    width : 10%;
}

.titreColonneVide2 {
    background-color :#ffffff;
    color : #ffffff;
    height : 30px;
    border-color : #ffffff;
    border-style: solid; 
    border-width: 1px;
    width : 8%;
}

.titreColonneGrand {
    width : 50%;
}

.titreColonnePetit {
    width : 20%;
}

.titreColonneMini {
    width : 15%;
}

.tableauLeger {
    position : relative ;
    color : #515151;
}

.titreTableauLeger {
    color : #515151;
    text-align : left;
    font-variant : small-caps ;
    font-size : 18px;
}