#menuHaut{
    text-align:center ;
}

    ul.menuHaut {
       padding:0;
       margin-top:10px;
       list-style-type:none;
       text-align: center;  
      }
    li.menuHaut {
       margin-left:10px; 
       display:inline-block;
    }
    ul li.menuHaut a {
        display:block;
        float:left;   
        width:200px;
        background-color:#d7fcff;
        color:#515151;
        text-decoration:none;
        text-align:center;
        padding:5px;
        height : 25px; 
        font-size : 20px;
        font-variant: small-caps;
 }

    ul li.menuHaut a:hover {
         background-color: #515151;
         color : white;
         text-decoration:none; 
          
     } 

     #nomVisit {
         font-variant: small-caps;
         font-size : 36px;
         color : #515151;
     }
