
.bouton {
    color : white ;
    background-color:#515151;
    height : 30px ;
    cursor : pointer;     
}
.bouton:hover {
    background-color:#d7fcff;
    color:#515151;
    text-decoration:none;
    text-align:center;
}

.valider, .annuler {
    width : 40%;
}
.annuler {
    float : right ;
}

.valider {
    float : left;
}

.rechercher {
    float : left ;
    width : 12%;
    margin-left: 42%;
}
.autreRecherche {
    float : right ;
    width : 200px;
    margin-top : 90px;
    margin-right : 20px;
}

.absenceDonnees {
    width : 100%;
    margin-top : 20px;
    text-align : center;
    font-size : 18px;
    font-variant : small-caps ;
    font-weight: bold;
    color : #515151;
    background-color : #d7fcff;    
}

.erreurDonnees {
    width : 100%;
    margin-top : 20px;
    text-align : center;
    font-size : 18px;
    font-variant : small-caps ;
    font-weight: bold;
    color : #df0000;
    border : solid 1px #df0000;
    
    
}

.selection {
    height : 100px;
    text-align: center ;
    position : relative ;
    width : 40%;
    margin-left: auto;
    margin-right: auto;
    color : #515151 ;
    font-size : 14px;
    font-weight : bold;
    padding : 10px;
}

.selectionFiche1 {
    float : left ;
    height : 50px;
}

.selectionFiche2 {
    float : right ;
    height : 50px;
}

.calque {
    text-align : center;
    vertical-align: middle ;
    height : 110px;
}

.etou {
    // border : solid 1px black ;
    height : 50px;
    width : 12%;
    text-align: center ;
    float : left ;
    line-height:50px;
    color : #515151 ;
    font-size : 14px;
    font-weight : bold;
}

.inputPetit {
    text-align : center ;
}