
.encadreFin {
    border-color : #d7fcff;
    border-style: solid; 
    border-width: 1px;
    font-size: 14px;
    font-weight: bold;
}

.bouton {
    color : white ;
    background-color:#515151;
    height : 30px ;
    cursor : pointer;     
}


.bouton:hover {
        background-color:#d7fcff;
        color:#515151;
        text-decoration:none;
        text-align:center;
}

.petitTitre {
    text-align: center;
    margin-top : 20px;
    margin-bottom : 10px;
    font-variant : small-caps;
    font-size : 20px;
    color : #d7fcff;
    font-weight : bold;
    background-color : #61636b;
}

.valider, .annuler {
    width : 40%;
}
.annuler {
    float : right ;
}

.valider {
    float : left;
}
