
.encadreFin {
    border-color : #d7fcff;
    border-style: solid; 
    border-width: 1px;
    font-size: 14px;
}

.petitTitre {
    text-align: center;
    margin-top : 20px;
    margin-bottom : 10px;
    font-variant : small-caps;
    font-size : 20px;
    color : #ffffff;
    background-color : #61636b;
}

.petitTitre2 {
    text-align: center;
    margin-top : 20px;
    margin-bottom : 10px;
    font-variant : small-caps;
    font-size : 20px;
    color : #61636b;
    background-color : #ffffff;
    border : solid 1px #61636b;
}

