
.encadreFin {
    border-color : #e7e7e7;
    border-style: solid; 
    border-width: 1px;
    font-size: 14px;
    font-weight: bold;
}

.bouton {
    color : white ;
    background-color:#515151;
    width : 130px ;
    height : 30px ;
    cursor : pointer;     
}


.bouton:hover {
        background-color:#e7e7e7;
        color:#515151;
        text-decoration:none;
        text-align:center;
}

.petitTitre {
    text-align: center;
    margin-top : 20px;
    margin-bottom : 10px;
    font-variant : small-caps;
    font-size : 20px;
    color : #e7e7e7;
    font-weight : bold;
    background-color : #61636b;
}



